<div class="page-container">
    <header class="page-header">
        <h1>Live Map</h1>
        <div class="user-info">
            <div class="user">
                <div class="user-avatar">
                    <i class="fas fa-question"></i>
                </div>
                <span>John Doe</span>
            </div>
        </div>
    </header>

    <div class="controls-row">
        <search-section [options]="typeOptions" [placeHolder]="'Filter by type'" [(searchQuery)]="searchQuery"
            [(selected)]="selectedTypeOption" (search)="applySearch($event)"
            (filterChange)="applyTypeFilter($event)"></search-section>

        <div class="theme-selector">
            <label for="mapTheme">Map Theme:</label>
            <select id="mapTheme" [value]="selectedMapTheme" (change)="onThemeChange($event)">
                <option value="roadmap">Road Map</option>
                <option value="satellite">Satellite</option>
                <option value="hybrid">Hybrid</option>
                <option value="terrain">Terrain</option>
                <option value="dark">Dark Mode</option>
            </select>
        </div>
    </div>

    <div class="map-container">

        <google-map height="75vh" width="100%" [options]="options">

            <!-- <map-marker *ngFor="let loc of shipmentLocations; trackBy: trackById"
                [position]="{ lat: loc.lat, lng: loc.lng }" [title]="loc.name"
                 [content]="loc.content">
            </map-marker> -->

            <map-advanced-marker *ngFor="let loc of shipmentLocations; trackBy: trackById"
                [position]="{ lat: loc.lat, lng: loc.lng }" [title]="loc.name" [content]="loc.content">
            </map-advanced-marker>

            <!-- Vehicles -->
            <map-marker *ngFor="let v of vehicleLocations; trackBy: trackById" [position]="{ lat: v.lat, lng: v.lng }"
                [title]="v.name">
            </map-marker>

            <!-- Route lines -->
            <map-polyline *ngFor="let seg of routeSegments; trackBy: trackById" [path]="seg.path"
                [options]="{ strokeColor: seg.color, strokeWeight: 3 }">
            </map-polyline>

        </google-map>



    </div>