<div class="page-container">
    <header class="page-header">
        <h1>Live Map</h1>
        <div class="user-info">
            <div class="user">
                <div class="user-avatar">
                    <i class="fas fa-question"></i>
                </div>
                <span>John Doe</span>
            </div>
        </div>
    </header>

    <search-section [options]="typeOptions" [placeHolder]="'Filter by type'" [(searchQuery)]="searchQuery"
        [(selected)]="selectedTypeOption" (search)="applySearch($event)"
        (filterChange)="applyTypeFilter($event)"></search-section>

    <div class="map-container">

        <google-map height="600px" width="100%" [options]="options">
            <map-marker *ngFor="let loc of shipmentLocations; trackBy: trackById"
                [position]="{ lat: loc.lat, lng: loc.lng }" [title]="loc.name">
            </map-marker>
        </google-map>

        <!-- <google-map height="600px" width="800px" [options]="options">
            <map-marker *ngFor="let location of shipments; trackBy: trackById"
                [position]="{ lat: location.lat, lng: location.lng }" [title]="location.name">
            </map-marker>
        </google-map> -->

    </div>