.page-container {
    padding: 0 2vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: transparent;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

h1 {
    color: var(--text-color);
    font-size: 1.75rem;
    margin: 0;
}

.routes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    padding: 1rem 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.notification-icon {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: color 0.2s;
}

.notification-icon:hover {
    color: var(--primary-color);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user span {
    color: var(--text-color);
    font-weight: 500;
}



/* Responsive design */
@media (max-width: 768px) {
    .routes-grid {
        grid-template-columns: 1fr;
    }
}