.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: white;
    padding: 2rem 1rem;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 0 10px var(--shadow-color);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 2.5rem;
    padding: 0 0.5rem;
}

.logo img {
    width: 8vw;
    height: auto;
    object-fit: contain;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    color: var(--secondary-text-color);
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    font-size: 0.9rem;
}

.nav-link i {
    width: 20px;
    text-align: center;
    font-size: 1vw;
    opacity: 0.7;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link:hover i {
    opacity: 1;
}

.nav-link.active {
    color: var(--primary-color);
}

.nav-link.active i {
    opacity: 1;
}

.logout-section {
    margin-top: auto;
}

.logout-section:hover {
    cursor: pointer;;
}

.logout-link {
    color: var(--danger-color, #d9534f);
    /* red by default */
}

.logout-link:hover {
    color: #b52b27;
}