<div class="page-container">
    <header class="page-header">
        <h1>Shipments Tracking</h1>
        <div class="user-info">
            <div class="user">
                <div class="user-avatar">
                    <i class="fas fa-question"></i>
                </div>
                <span>John Doe</span>
            </div>
        </div>
    </header>

    <search-section [options]="carrierOptions" [placeHolder]="'Filter by carrier'" [(searchQuery)]="searchQuery"
        [(selected)]="selectedCarrier" (search)="applySearch($event)"
        (filterChange)="applyFilter($event)"></search-section>

    <div class="shipments-grid">
        <!-- Show skeleton cards when loading -->
        <div *ngIf="loading" class="skeleton-cards">
            <div class="skeleton-card" *ngFor="let i of [1,2,3,4]">
            </div>
        </div>

        <!-- Show actual shipment cards when loaded -->
        <ng-container *ngIf="!loading">
            <shipment-card *ngFor="let s of filteredShipments" [shipment]="s">
            </shipment-card>
        </ng-container>
    </div>

</div>