<aside class="sidebar">
    <div class="logo">
        <img src="assets/Logo/Cargo-Photoroom.png" alt="Cargo Smart Logo">
    </div>
    <nav class="nav-menu">
        <!-- <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span>
        </a> -->
        <a routerLink="/live-map" routerLinkActive="active" class="nav-link">
            <i class="fas fa-map"></i>
            <span>Live Map</span>
        </a>
        <a routerLink="/shipments" routerLinkActive="active" class="nav-link">
            <i class="fas fa-map-marker-alt"></i>
            <span>Shipment Tracking</span>
        </a>
        <a routerLink="/vehicles" routerLinkActive="active" class="nav-link">
            <i class="fas fa-truck"></i>
            <span>Vehicle Health</span>
        </a>
        <a routerLink="/routes" routerLinkActive="active" class="nav-link">
            <i class="fas fa-route"></i>
            <span>Route Management</span>
        </a>
        <a routerLink="/proposals" routerLinkActive="active" class="nav-link">
            <i class="fas fa-lightbulb"></i>
            <span>AI Proposals</span>
        </a>
    </nav>

    <!-- logout button -->
    <div class="logout-section">
        <a (click)="onLogout()" class="nav-link logout-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>