<div class="search-section">
    <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="search-input" [placeholder]="'Search vehicles by number, type, route, or location...'"
            [(ngModel)]="searchQuery" (ngModelChange)="onSearchInput($event)" />
    </div>

    <!-- PrimeNG dropdown (works with DropdownModule) -->
    <p-select class="w-full md:w-56" [options]="options" [placeholder]="placeHolder" [showClear]="true"
        optionLabel="label" optionValue="value" [(ngModel)]="selected"
        (ngModelChange)="onSelectChange($event)"></p-select>
</div>