<form [formGroup]="searchForm" class="search-section">
    <p-iconfield class="w-100">
        <p-inputicon class="fas fa-search" />
        <input class="w-100" [formControlName]="'search'" pInputText
            [placeholder]="'Search vehicles by number, type, route, or location...'" />
    </p-iconfield>

    <p-select [formControlName]="'category'" class="w-full md:w-56" [options]="options" [placeholder]="placeHolder"
        [showClear]="true" optionLabel="label" optionValue="value"></p-select>
</form>