<p-card>
    <div class="card-header">

        <div class="icon-container" [ngClass]="healthStatus.toLowerCase()">
            <i class="fas" [ngClass]="icon"></i>
        </div>

        <div class="vehicle-info">
            <h3>{{ vehicle.plate_number }}</h3>
            <p>{{ vehicle.model }} • {{ estimatedMileage }} miles</p>
            <p class="route-info">{{ vehicle.route.name || 'No route assigned' }}</p>
        </div>

        <div>
            <div class="status-badge" [ngClass]="healthStatus.toLowerCase()">
                {{ healthStatus }}
            </div>
            <div class="health-info">
                <span class="health-percentage">Health: {{ healthPercentage }}%</span>
            </div>
        </div>
    </div>
</p-card>