.btn {
    padding: 1vh 1vw;
    font-size: 1vw;
    border-radius: 12px;
    font-weight: 500;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    border: none;
    width: fit-content;
    height: 5vh;
}

/* Primary button */
.btn.primary {
    background-color: var(--primary-color);
    color: white;
}

.btn.primary:hover {
    background-color: var(--secondary-color);
}

/* secondary button */
.btn.secondary {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
}

.btn.secondary:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.btn.delete {
    font-size: 0.8vw;
    background-color: rgb(215, 3, 3);
    color: white;
}

/* Ghost button */
.btn.ghost {
    background-color: transparent;
    color: #40455c;
    border: none;
}

.btn.ghost:hover {
    text-decoration: underline;
}

/* Product Page Buttons */
.btn.product-page {
    background: none;
    border: none;
}